.title-1 {
  font-size: clamp(var(--font-size-5), 6vw, var(--font-size-1));
  font-weight: var(--font-weight-4);
  color: var(--black);
}

.title-2 {
  font-size: clamp(var(--font-size-4), 6vw, var(--font-size-2));
  font-weight: var(--font-weight-4);
  color: var(--black);
}

.title-3 {
  font-size: clamp(var(--font-size-6), 2vw, var(--font-size-3));
  font-weight: var(--font-weight-4);
  color: var(--black);
}

.title-4 {
  font-size: clamp(var(--font-size-6), 6vw, var(--font-size-4));
  font-weight: var(--font-weight-4);
  color: var(--black);
}

.text-1 {
  font-size: clamp(var(--font-size-8), 2vw, var(--font-size-5));
  font-weight: var(--font-weight-4);
  color: var(--black);
  line-height: var(--line-height);
}

.text-2 {
  font-size: clamp(var(--font-size-8), 2vw, var(--font-size-6));
  font-weight: var(--font-weight-4);
  color: var(--black);
  line-height: var(--line-height);
}

.text-3 {
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-4);
  color: var(--black);
  line-height: var(--line-height);
}

.text-4 {
  font-size: clamp(var(--font-size-10), 2vw, var(--font-size-8));
  font-weight: var(--font-weight-4);
  color: var(--black);
  line-height: var(--line-height);
}

.text-5 {
  font-size: clamp(var(--font-size-10), 2vw, var(--font-size-9));
  font-weight: var(--font-weight-4);
  color: var(--black);
  line-height: var(--line-height);
}

.text-6 {
  font-size: clamp(var(--font-size-11), 2vw, var(--font-size-10));
  font-weight: var(--font-weight-4);
  color: var(--black);
  line-height: var(--line-height);
}

.bold {
  font-weight: var(--font-weight-1);
}

.semibold {
  font-weight: var(--font-weight-2);
}

.medium {
  font-weight: var(--font-weight-3);
}

.thin {
  font-weight: var(--font-weight-5);
}

.gray {
  color: var(--gray);
}

.textColor {
  color: var(--text-color);
}
