.box {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 12px;
}

.icon {
  width: clamp(10px, 2vw, 14px);
  color: var(--star-color);
}

.text {
  font-size: clamp(var(--font-size-9), 2vw, var(--font-size-7));
  font-weight: var(--font-weight-4);
  color: var(--text-color);
  line-height: var(--line-height);
}
