.pageBox {
  // width: 100vw;
  min-height: calc(100vh - 160px - 60px);
  display: flex;
  padding-top: clamp(20px, 5vw, 60px);

  @media screen and (min-width: 790px) {
    min-height: calc(100vh - 80px - 60px);
  }
}

.titleBox {
  display: flex;
  gap: 12px;
  user-select: none;
}

.asterisk {
  width: 20px;
  height: 25.33px;

  @media screen and (min-width: 790px) {
    width: 30px;
    height: 35.33px;
  }
}

.title {
  text-transform: uppercase;
  letter-spacing: 10px;
}
