.list {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  width: 103%;
  height: 92%;
  overflow-x: scroll;

  @media screen and (min-width: 790px) {
    gap: 40px;
    height: 70%;
    margin: 80px 0;
  }
}
